---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About Page">
	<main>
		<section class="about-section">
			<div class="container">
				<div class="about-content">
					<div class="team-story">
						<h2 class="sp-e">Our Story</h2>
						<p><spanspan style="float:left"></spanspan></p>
						<p>FinEdge was born with a single objective, of enabling wealth creation for our clients through quality and conflict free investment management. The use of technology is our cornerstone in ensuring that we can reach across demographics and geographies, provide a convenient, low cost - high quality, process driven, goal oriented, wealth creation platform.</p>
						<p>We are experts at what we do and for us our success lies only in making our clients meet their investment objectives. We love the fact that we are known and respected by our clients and the industry for our unique business model and our conflict free advice.</p>
					</div>
				</div>

				<div class="about-content">
					<img src="https://www.finedge.in/assets/uploads/files/ed224-img-1.jpg" alt="About Image" class="about-image">
					<div class="about-person">
						<h2 class="sp-e">Harsh Gahlaut<br>
							<span>Co-Founder & CEO</span>
						</h2>
						<p>Harsh Co-founded FinEdge after successfully managing several large businesses in the Financial Services Industry. He is a Management Graduate from Symbiosis (Pune) and has worked with institutions like Xerox (Key Accounts Manager), Standard Chartered Bank (Regional Head - Capital Markets), Dawnay Day AV (Country Head - Wealth Management) &amp;&nbsp;Religare Macquarie (Senior Vice President - Private Banking)&nbsp;over the last 21 years.</p>
						<div class="line"></div>
						<a target="_blank" href="https://www.linkedin.com/in/harsh-gahlaut-6658068/"><i></i></a>
					</div>
				</div>
					
				<div class="about-content">
					<img src="https://www.finedge.in/assets/uploads/files/e34a2-mayank-photo.jpg" alt="About Image" class="about-image">
					<div class="about-person">
						<h2 class="sp-e">Mayank Bhatnagar<br>
							<span>Co-Founder & COO</span>
						</h2>
						<p>Mayank co-founded FinEdge and is a management graduate with a professional experience of more than 20 years, across retail and corporate banking. His expertise in global transaction banking and retail assets in Standard Chartered Bank has been critical in setting up the FinEdge business intelligence platform.</p>
						<div class="line"></div>
						<a target="_blank" href="https://www.linkedin.com/in/mayank-bhatnagar-b6488b8/"><i></i></a>
					</div>
				</div>

				<div class="about-content">
					<img src="https://www.finedge.in/assets/uploads/files/b6fea-img-4.jpg" alt="About Image" class="about-image">
					<div class="about-person">
						<h2 class="sp-e">Aniruddha Bose<br>
							<span>Chief Business Officer</span>
						</h2>
						<p>Aniruddha holds an MBA with Distinction&nbsp;from Sa&iuml;d Business School, University of Oxford. He has 16 years of experience in the Investment Advisory&nbsp;space&nbsp;with&nbsp;institutions like Destimoney &amp; Standard Chartered Bank. Aniruddha is a founding team member and has been instrumental in setting&nbsp;up &amp; leading&nbsp;key business processes, strategies&nbsp;&amp; systems&nbsp;for FinEdge.</p>
						<div class="line"></div>
						<a target="_blank" href="https://www.linkedin.com/in/aniruddha-bose-8375b75/"><i></i></a>
					</div>
				</div>

				<div class="about-content">
					<img src="https://www.finedge.in/assets/uploads/files/84269-gaurav-photo.jpg" alt="About Image" class="about-image">
					<div class="about-person">
						<h2 class="sp-e">Gaurav Agarwal<br>
							<span>Co-Founder</span>
						</h2>
						<p>Gaurav is a management graduate from Case Western Reserve University, Cleveland, with a major in marketing and strategy. With over 15 years of work experience, Gaurav has set up multiple e commerce companies and successfully managed large distribution businesses for ITC and Nokia.</p>
						<div class="line">
						</div>
						<a target="_blank" href="https://www.linkedin.com/in/gaurav-agarwal-7a0863b1/"><i></i></a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	.about-content {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	.about-image {
		width: 400px; 
		height: auto;
		margin: 0 100px 0 400px;
	}

	.team-story, .about-person h2,
	.about-person p {
		margin: 0;
		box-sizing: border-box;
		background-color:transparent;
		border: 0.5px solid #6b21a8;
	}

	.about-person h2 {
		color: aliceblue;
		text-align: center;
		width: 400px;
		height: auto;
		padding: 10px;
		font-size: 18px;
	}
	.about-person p {
		color: whitesmoke;
		text-align: justify;
		font-weight: bold;
		width: 400px;
		height: 250px;
		padding: 30px 15px 30px 15px;
		font-size: 14px;
		line-height: 1.4;
	}
	.team-story p {
		color: whitesmoke;
		text-align: justify;
		font-weight: bold;
		width: 100%;
		height: auto;
		padding: 0 15px 0 15px;
		font-size: 14px;
		line-height: 1.4;
	}

	.about-person span {
		font-size: 14px;
		color: #888;
	}
	.team-story h2 {
		font-size: 32px;
		color: #2cf808;
		text-align: center;
		margin-top: 30px;
	}

</style>