<footer class="footer">
    <div class="social-links">      
        <ul>
             <li><a href="https://www.facebook.com/veerendra.sagar.359/" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
             <li><a href="https://www.instagram.com/i_sagar777/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
             <li><a href="https://www.linkedin.com/in/VeerendraSagar" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
             <li><a href="https://twitter.com/VeerendraSagar" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="container">
        <div>
            <h3>Astro</h3>
            <p>
            This is a demo website to show how the Astro framework works. Visit
            the <a href="https://astro.build">official website</a> to learn
            more.
            </p>
        </div>
    </div>
    <p class="end">&#169; Veerendra K '2023</p>
</footer>

<style>
    .footer {
        background: var(--color-primary);
        color: #fff;
        text-align: center;
        padding: 30px;
        margin-top: 60px;
    }

    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        max-width: 800px;
    }

    .footer a {
        color: #a741ff;
        text-decoration: underline;
    }

    .social-links {
        text-align: center;
    }

    .social-links ul {
        list-style: none;
        padding: 0;
    }

    .social-links ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .social-links ul li:last-child {
        margin-right: 0;
    }

    .social-links ul li a {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background-color: #333;
        border-radius: 50%;
    }
    
    .social-links a:hover {
        transform: scale(1.5);
        transition: .3s;
    }

    .end {
        text-align: center;
        margin-top: 20px;
        color: #a741ff;
    }
</style>
